DATABASE_URL=postgresql://postgres:postgres@localhost:5435/f1db
OPENF1_BASE_URL=https://api.openf1.org/v1

# LocalStack / S3
LOCALSTACK_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET_NAME=f1-raw-data
